{% extends 'layout.html' %}

{% block title %}
    {{ friends }}
{% endblock %}

{% block contenido %}
    <h2>Mis Amigos</h2>
    <br>
    <div class="contenedor_amigos">
        {% if friends %}
            {% for friend in friends %}
                <div class="contenido_amigos">
                    <img src="{{ url_for('static', filename='public/' + friend.foto_perfil) if friend.foto_perfil else 'https://via.placeholder.com/100' }}"
                        alt="{{ friend.nombre }}"
                        class="foto_perfil_amigos"
                        style="width: 150px; height: 150px; object-fit: cover">
                    <div class="nombre_solicitud">
                        <h6 class="mb-55">{{ friend.nombre }}</h6>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No tienes amigos por el momento, puedes enviar solicitudes de amistad</p>
        {% endif %}
    </div>
{% endblock %}
